<router-outlet *ngIf="auth; else other"></router-outlet>
<ng-template #other>
  <nz-layout class="app-layout">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <div class="mt-4 mb-4 d-flex justify-content-center">
        <img
          src="../assets/icon/Ellipse 6.png"
          [ngClass]="{ logo: isCollapsed == true }"
        />
      </div>
      <p *ngIf="!isCollapsed" class="fs-6 mx-2 mb-5 text-white text-center">
        Student Management
      </p>
      <hr class="text-white" />

      <ul
        nz-menu
        nzTheme="dark"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <!-- ===========ADMIN=============== -->
        <ng-container *ngIf="isAdmin">
          <li
            nzMatchRouter
            routerLink="/admin/dashboard"
            nzSelected
            nz-menu-item
          >
            <span nz-icon nzType="home"></span>
            <span>Dashboard</span>
          </li>
          <li nzMatchRouter routerLink="/admin/don-tu" nz-menu-item>
            <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
            <span>Đơn từ</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/admin/lop-hoc">
            <span nz-icon nzType="fund" nzTheme="outline"></span>
            <span>Lớp học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/admin/nganh-hoc">
            <span nz-icon nzType="apartment" nzTheme="outline"></span>
            <span>Ngành học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/admin/mon-hoc">
            <span nz-icon nzType="desktop" nzTheme="outline"></span>
            <span>Môn học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/admin/sinh-vien">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            <span>Sinh viên</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/admin/giang-vien">
            <span nz-icon nzType="gitlab" nzTheme="outline"></span>
            <span>Giảng viên</span>
          </li>
        </ng-container>

        <!-- ==============STUDENT================ -->
        <ng-container *ngIf="isStudent">
          <li nzSelected nz-menu-item nzMatchRouter routerLink="/sv/bang-tin">
            <span nz-icon nzType="global" nzTheme="outline"></span>
            <span>Bảng tin</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/sv/lich-hoc">
            <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
            <span>Lịch học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/sv/diem-danh">
            <span nz-icon nzType="solution" nzTheme="outline"></span>
            <span>Điểm danh</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/sv/lop-hoc">
            <span nz-icon nzType="schedule" nzTheme="outline"></span>
            <span>Lớp học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/sv/mon-hoc">
            <span nz-icon nzType="read" nzTheme="outline"></span>
            <span>Môn học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/sv/bang-diem">
            <span nz-icon nzType="stock" nzTheme="outline"></span>
            <span>Bảng điểm</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/sv/don-tu">
            <span nz-icon nzType="form" nzTheme="outline"></span>
            <span>Đơn từ</span>
          </li>
        </ng-container>

        <!-- ============TEACHER============ -->
        <ng-container *ngIf="isTeacher">
          <li nzSelected nz-menu-item nzMatchRouter routerLink="/gv/bang-tin">
            <span nz-icon nzType="global"></span>
            <span>Bảng tin</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/gv/lop-hoc">
            <span nz-icon nzType="schedule"></span>
            <span>Lớp học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/gv/mon-hoc">
            <span nz-icon nzType="read"></span>

            <span>Môn học</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/gv/lich-day">
            <span nz-icon nzType="insert-row-above" nzTheme="outline"></span>
            <span>Lịch dạy</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/gv/sinh-vien">
            <span nz-icon nzType="user"></span>
            <span>Sinh viên</span>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/gv/don-tu">
            <span nz-icon nzType="form"></span>
            <span>Đơn từ</span>
          </li>
        </ng-container>
      </ul>
    </nz-sider>

    <!-- =========HEADER============ -->
    <nz-layout>
      <nz-header>
        <div style="padding: 0 2rem" nz-row class="app-header">
          <div nz-col nzSpan="8">
            <span
              (click)="isCollapsed = !isCollapsed"
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
            <span (click)="isCollapsed = !isCollapsed" nz-icon class="ms-2">
              <p nz-icon style="font-size: 15px">
                <ng-container *ngIf="isTeacher"
                  >Hi, MS.Phạm Thị Nga</ng-container
                >
                <ng-container *ngIf="isStudent">Hi, Phạm Thị Nga</ng-container>
                <ng-container *ngIf="isAdmin">HI, ADMIN</ng-container>
              </p>
            </span>
          </div>
          <!-- ======== -->
          <div [align]="'end'" nz-col nzSpan="8" nzOffset="8" class="">
            <span nz-icon nzType="bell" class="me-3"></span>
            <span
              routerLink="/auth/personal"
              nz-icon
              nzType="user"
              class="me-3"
            ></span>
            <button (click)="logout()" nz-button nzType="primary">
              Log out
            </button>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-template>
