/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  font-family: "Kumbh Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
