<div class="mt-5" style="width: 80%; margin: auto">
  <h3>Welcome to your dashboard, Udemy school</h3>
  <h5 class="mb-5">Uyo/school/@teachable.com</h5>
</div>
<div class="w-75" style="margin: auto">
  <div class="d-flex mb-3">
    <span
      class="me-4"
      style="font-size: 25px; color: #08c"
      nz-icon
      nzType="frown"
      nzTheme="twotone"
    ></span>
    <span>
      <h5 class="mb-2">Add other admins</h5>
      <p>
        Create rich course content and coaching products for your students.
        <br />
        When you give them a pricing plan, they’ll appear on your site!
      </p>
    </span>
  </div>
  <div class="d-flex mb-3">
    <span
      class="me-4"
      style="font-size: 25px; color: #08c"
      nz-icon
      nzType="bank"
    ></span>
    <span>
      <h5 class="mb-2">Add classes</h5>
      <p>
        Create rich course content and coaching products for your students.
        <br />
        When you give them a pricing plan, they’ll appear on your site!
      </p>
    </span>
  </div>
  <div class="d-flex">
    <span
      class="me-4"
      style="font-size: 25px; color: #08c"
      nz-icon
      nzType="shop"
    ></span>
    <span>
      <h5 class="mb-2">Add students</h5>
      <p>
        Create rich course content and coaching products for your students.
        <br />
        When you give them a pricing plan, they’ll appear on your site!
      </p>
    </span>
  </div>
</div>
